# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
*.gem
*.rbc
.bundle/
vendor/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/

# Node (if used)
node_modules/

# Jupyter
.ipynb_checkpoints/
